@font-face {
  font-family: "Pragmatica-300";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Pragmatica-Light.woff") format("woff");
  src: url("../fonts/Pragmatica-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Pragmatica-400";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Pragmatica-Book.woff") format("woff");
  src: url("../fonts/Pragmatica-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Pragmatica-500";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Pragmatica-Medium.woff") format("woff");
  src: url("../fonts/Pragmatica-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "TT-Commons-400";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TTCommons-Regular.woff") format("woff");
  src: url("../fonts/TTCommons-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TT-Commons-500";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/TTCommons-Medium.woff") format("woff");
  src: url("../fonts/TTCommons-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "TT-Commons-600";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/TTCommons-DemiBold.woff") format("woff");
  src: url("../fonts/TTCommons-DemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "TT-Commons-700";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/TTCommons-Bold.woff") format("woff");
  src: url("../fonts/TTCommons-Bold.ttf") format("truetype");
}
/*==========  Desktop First  ==========*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:hover,
*:focus {
  outline: 0;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  position: relative;
  font-family: "Pragmatica-400", sans-serif;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
  min-height: 100vh;
  color: #333333;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-anchor: none;
  background: #ffffff;
}

input,
button,
textarea,
select {
  font: inherit;
}

::-webkit-input-placeholder {
  color: #7E779A;
}

::-moz-placeholder {
  color: #7E779A;
}

:-ms-input-placeholder {
  color: #7E779A;
}

::-ms-input-placeholder {
  color: #7E779A;
}

::placeholder {
  color: #7E779A;
}

.site-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

b, strong {
  font-weight: bold;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #333333;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "TT-Commons-700", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

@media (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 35px;
  }
}

h2 {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 35px;
  }
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

p {
  margin: 0;
  font-family: "Pragmatica-400", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

.is-vishidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.btn-reset {
  border: none;
  padding: 0;
  background: 0 0;
  cursor: pointer;
}

.btn-accent {
  display: block;
  font-family: "TT-Commons-600", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 100%;
  max-width: 333px;
  padding: 22px 44px 20px 43px;
  margin-top: 26px;
  background: -o-linear-gradient(344.04deg, #3F0F72 13.07%, #791281 85.2%);
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
  border-radius: 90px;
  white-space: nowrap;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-accent:hover {
  background: -o-linear-gradient(344.04deg, #59298c 18.07%, #893491 92.2%);
  background: linear-gradient(105.96deg, #59298c 18.07%, #893491 92.2%);
}
@media (max-width: 992px) {
  .btn-accent {
    padding: 17px 27px;
  }
}
.btn-accent.btn-form {
  height: 56px;
  width: 223px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  padding: 22px 41px 20px 41px;
  background: transparent;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 1;
}
.btn-accent.btn-form::after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: -o-linear-gradient(344.04deg, #3F0F72 13.07%, #791281 85.2%);
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
  border-radius: 50px;
  z-index: -1;
}
.btn-accent.btn-form::before {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  background: #0c0b35c7;
  border-radius: 50px;
  z-index: 0;
}
.btn-accent.btn-form span {
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 3px;
  z-index: 3;
}
.btn-accent.btn-form:hover::before {
  background: -o-linear-gradient(344.04deg, #3F0F72 13.07%, #791281 85.2%);
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
}

.stop-scroll .overlay {
  display: block;
  width: 100%;
  opacity: 1;
  overflow: visible;
  pointer-events: all;
  left: 0;
}

@media (max-width: 992px) {
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 36;
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    background: transparent;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
  }
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.header__container {
  padding: 39px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3em;
     -moz-column-gap: 3em;
          column-gap: 3em;
}
.header__logo {
  width: 139px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2.75em;
     -moz-column-gap: 2.75em;
          column-gap: 2.75em;
}
@media (max-width: 992px) {
  .header__contact {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8px;
  }
}
.header__contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: "TT-Commons-400", sans-serif;
  font-size: 17px;
  line-height: 14px;
  white-space: nowrap;
  color: #ffffff;
  padding: 5px 0;
}
.header__contact-link:hover {
  color: #7E779A;
}
.header__contact-link svg {
  margin-top: -3px;
}
.header__contact-link svg path {
  fill: currentColor;
}
.header__contact-link.contact-mail {
  letter-spacing: 0.05em;
}
.header__contact-link.contact-mail svg {
  margin-right: 16px;
}
.header__contact-link.contact-phone {
  letter-spacing: 0.1em;
}
.header__contact-link.contact-phone svg {
  margin-right: 13px;
}

.burger {
  position: relative;
  width: 26.25px;
  height: 16px;
  display: none;
  margin-right: 23px;
  border: none;
  padding: 0;
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
}
@media (max-width: 576px) {
  .burger {
    margin-right: 10px;
  }
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2.67px;
  border-radius: 2.67px;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.67px;
  border-radius: 2.67px;
  background-color: #ffffff;
  -webkit-transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger--active {
  position: absolute;
  right: calc(90vw - 38px);
  top: 15px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  margin-right: auto;
}
@media (max-width: 395px) {
  .burger--active {
    max-width: 165px;
    right: 124px;
  }
}
.burger--active .burger__line {
  display: none;
}
.burger--active::before {
  width: 20px;
  -webkit-transition: position 1s ease-in-out, top 0.6s ease-in-out, right 0.6s ease-in-out;
  -o-transition: position 1s ease-in-out, top 0.6s ease-in-out, right 0.6s ease-in-out;
  transition: position 1s ease-in-out, top 0.6s ease-in-out, right 0.6s ease-in-out;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6.5px;
  opacity: 0.7;
}
.burger--active::after {
  -webkit-transition: position 1s ease-in-out, top 0.6s ease-in-out, bottom 0.6s ease-in-out;
  -o-transition: position 1s ease-in-out, top 0.6s ease-in-out, bottom 0.6s ease-in-out;
  transition: position 1s ease-in-out, top 0.6s ease-in-out, bottom 0.6s ease-in-out;
  width: 20px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 6.5px;
  opacity: 0.7;
}
@media (max-width: 992px) {
  .burger {
    display: block;
    z-index: 50;
  }
}

.stop-scroll {
  overflow: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6.8vw;
     -moz-column-gap: 6.8vw;
          column-gap: 6.8vw;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
@media (max-width: 992px) {
  .nav__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8px;
  }
}
.nav__link {
  display: block;
  font-family: "TT-Commons-500", sans-serif;
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;
  white-space: nowrap;
  padding: 5px 0;
}
.nav__link:hover, .nav__link:active {
  color: #7E779A;
}
@media (max-width: 992px) {
  .nav {
    --header-height: 63px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 30;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8px;
    overflow-y: auto;
    padding: 65px 15px 35px;
    width: 100%;
    max-width: 90vw;
    min-width: 320px;
    min-height: 400px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: #040B2A;
    border-radius: 0 0 9px 9px;
    -webkit-box-shadow: -13px 14px 30px 8px #6e2eb263;
            box-shadow: -13px 14px 30px 8px #6e2eb263;
    right: -100%;
    -webkit-transition: right 0.6s ease-in-out;
    -o-transition: right 0.6s ease-in-out;
    transition: right 0.6s ease-in-out;
  }
}
@media (max-width: 767px) {
  .nav {
    min-height: 250px;
  }
}
@media (max-width: 395px) {
  .nav {
    max-width: 165px;
  }
}
.nav--visible {
  right: 0;
}
@media (max-width: 992px) {
  .nav--visible {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

.banner {
  padding: 204px 0 46px;
  background: no-repeat url("../../img/@1x/bg-banner.jpg") #040B2A;
  background-position: center;
  background-size: cover;
}
.banner__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 93px;
}
.banner__suptitle {
  font-family: "Pragmatica-400", sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #7E779A;
  margin-bottom: 16px;
}
.banner__title {
  font-family: "TT-Commons-700", sans-serif;
  font-size: 64px;
  line-height: 1.1;
  color: #ffffff;
  max-width: 800px;
}
@media (max-width: 1280px) {
  .banner__title {
    font-size: 54px;
  }
}
@media (max-width: 992px) {
  .banner__title {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .banner__title {
    font-size: 36px;
  }
}
.banner__partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner__partner span {
  display: block;
  font-family: "TT-Commons-400", sans-serif;
  font-size: 17px;
  color: #ffffff;
  margin-right: 23px;
}
.banner__partner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
}

.about {
  padding: 115px 0;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 992px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.about__content p.about__subtitle {
  font-family: "Pragmatica-500", sans-serif;
  padding-top: 0.35em;
  font-size: 20px;
  line-height: 1.5;
}
.about__content p {
  padding: 0.3em 0 0.45em;
  line-height: 24px;
}
.about__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 9px;
  overflow: hidden;
}
.about__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .gallery {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.about .gallery__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 9px;
  overflow: hidden;
  min-height: 175px;
}
.about .gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services {
  padding: 115px 0;
  background: #F6F4F9;
}
.services__container {
  text-align: center;
}
.services h2 {
  margin-bottom: 5px;
}
.services p {
  font-family: "Pragmatica-400", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #777777;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-flow: dense;
  gap: 32px 30px;
  margin-top: 44px;
}
@media (max-width: 767px) {
  .services__list {
    gap: 20px;
  }
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
  padding: 27px 29px;
  background: #ffffff;
  border-radius: 9px;
  min-height: 120px;
}
.services__item p {
  font-family: "Pragmatica-500", sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #333333;
  text-align: left;
}
.services__icon {
  width: 66px;
  height: 66px;
  background: -o-linear-gradient(344.04deg, #3F0F72 13.07%, #791281 85.2%);
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.posts {
  position: relative;
  padding: 115px 0;
}
.posts__container {
  position: relative;
  text-align: center;
}
.posts__container h2 {
  line-height: 1;
  margin-bottom: 5px;
}
.posts .container-slider {
  position: relative;
}
.posts p.posts__subtitles {
  font-family: "Pragmatica-400", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #777777;
  padding-bottom: 40px;
}
.posts__slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 0;
  position: relative;
}
.posts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 9px;
  background: #F6F4F9;
  overflow: hidden;
}
.posts__item:hover .posts__image img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.posts__image {
  width: 100%;
  height: 262px;
  overflow: hidden;
}
.posts__image img {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 576px) {
  .posts__image {
    height: 235px;
  }
}
.posts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 27px 25px 21px 30px;
}
.posts__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 130px;
  padding-bottom: 23px;
  text-align: left;
}
.posts__title {
  font-family: "TT-Commons-600", sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: #333333;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 8px;
}
.posts__description {
  font-family: "Pragmatica-300", sans-serif;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #777777;
}
.posts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  border-top: 2px solid #EAE8EC;
}
.posts__author {
  max-width: 150px;
}
.posts__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
}
.posts span {
  font-family: "TT-Commons-500", sans-serif;
  color: #C4C4C4;
  margin-top: auto;
}
.posts .swiper-button-next, .posts .swiper-button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49px;
  height: 49px;
  top: calc(50% + 53px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #ffffff;
  border-radius: 90px;
  pointer-events: auto;
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
}
.posts .swiper-button-next:after, .posts .swiper-button-prev:after {
  display: none;
}
.posts .swiper-button-next.swiper-button-disabled, .posts .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.posts .swiper-button-next.swiper-button-disabled svg line, .posts .swiper-button-prev.swiper-button-disabled svg line {
  stroke: #D3D0D6;
}
.posts .swiper-button-next, .posts .swiper-container-rtl .swiper-button-prev {
  right: -10px;
}
@media (max-width: 1280px) {
  .posts .swiper-button-next, .posts .swiper-container-rtl .swiper-button-prev {
    right: 0;
  }
}
@media (max-width: 576px) {
  .posts .swiper-button-next, .posts .swiper-container-rtl .swiper-button-prev {
    display: none;
  }
}
.posts .swiper-button-prev, .posts .swiper-container-rtl .swiper-button-next {
  left: -10px;
}
@media (max-width: 1280px) {
  .posts .swiper-button-prev, .posts .swiper-container-rtl .swiper-button-next {
    left: 0;
  }
}
@media (max-width: 576px) {
  .posts .swiper-button-prev, .posts .swiper-container-rtl .swiper-button-next {
    display: none;
  }
}
.posts .swiper-pagination {
  display: none;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 10;
}
@media (max-width: 576px) {
  .posts .swiper-pagination {
    display: block;
  }
}
.posts .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}
.posts .swiper-pagination-bullet-active {
  background: -o-linear-gradient(344.04deg, #3F0F72 13.07%, #791281 85.2%);
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
}

.footer {
  padding-top: 113px;
  background: no-repeat url("../../img/@1x/bg-footer.jpg") #090B32;
  background-position: center;
  background-size: cover;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-bottom: 87px;
}
@media (max-width: 992px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 65px;
  }
}
.footer h2 {
  font-size: 48px;
  line-height: 1;
  color: #ffffff;
}
@media (max-width: 992px) {
  .footer h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .footer h2 {
    font-size: 35px;
  }
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 40px;
}
.footer__text {
  max-width: 470px;
}
@media (max-width: 992px) {
  .footer__text {
    max-width: 100%;
  }
}
.footer__text p {
  font-family: "Pragmatica-400", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #7E779A;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 28px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.footer__social-link {
  display: block;
  font-family: "TT-Commons-600", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  position: relative;
}
.footer__social-link:hover {
  color: #7E779A;
}
.footer__social-link:not(:last-child):after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  bottom: -12px;
  right: 8px;
  background-color: #ffffff;
  border-radius: 50%;
}
.footer .nav__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 22px;
}
.footer .nav__contact li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.footer .nav__contact li span {
  font-family: "Pragmatica-300", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #7E779A;
}
.footer .nav__contact address {
  font-family: "TT-Commons-700", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.05em;
}
.footer .nav__contact .contact-bold {
  font-family: "TT-Commons-700", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.footer__form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.footer__form .form-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0;
  padding: 0;
}
.footer__form .block-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .footer__form .block-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__form .block-button p, .footer__form .block-button .personal-link {
  font-family: "Pragmatica-400", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #7E779A;
}
.footer__form .block-button .personal-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__form .block-button .personal-link:hover {
  color: #ffffff;
  border-bottom: 1px solid white;
}
.footer__form .block-button .btn-form {
  margin-top: 0;
}
@media (max-width: 767px) {
  .footer__form .block-button .btn-form {
    margin: 0 auto;
  }
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
  row-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 38px 0 42px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__bottom-partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}
@media (max-width: 576px) {
  .footer__bottom-partner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__bottom-partner a:hover {
  color: #ffffff;
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
}
.footer__bottom-partner a:hover svg path {
  fill: currentColor;
}
.footer__bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
  row-gap: 15px;
}
@media (max-width: 767px) {
  .footer__bottom-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__copyrigth, .footer__private {
  font-family: "TT-Commons-500", sans-serif;
  color: #7E779A;
}
.footer__private {
  font-family: "TT-Commons-400", sans-serif;
  font-size: 15px;
  line-height: 1.3;
  color: #7E779A;
}
.footer__private:hover {
  color: #ffffff;
}
.footer__copyrigth {
  font-family: "TT-Commons-500", sans-serif;
}

form .inputText {
  position: relative;
  margin-bottom: 28px;
}
form .inputText:nth-child(3) {
  margin-bottom: 0;
}
form .inputText input, form .inputText textarea {
  width: 100%;
  color: #ffffff;
  padding: 12px 22px;
  background: rgba(7, 11, 47, 0.07);
  border: 2px solid #473E69;
  border-radius: 4px;
}
form .inputText input:focus ~ .floating-label, form .inputText input.empty + .floating-label, form .inputText textarea:focus ~ .floating-label, form .inputText textarea.empty + .floating-label {
  font-size: 12px;
  color: #807D8D;
  top: -16px;
  left: 0;
  line-height: 1;
  opacity: 1;
}
form .inputText input.empty, form .inputText textarea.empty {
  padding: 12px 22px;
}
form .inputText .floating-label {
  font-size: 16px;
  color: #7E779A;
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 15px;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
form [type=checkbox]:checked,
form [type=checkbox]:not(:checked) {
  position: absolute;
  left: -9999px;
}
form [type=checkbox]:checked + label,
form [type=checkbox]:not(:checked) + label {
  display: inline-block;
  font-family: "Pragmatica-500", sans-serif;
  font-size: 15px;
  line-height: 18px;
  position: relative;
  padding-top: 3px;
  padding-left: 35px;
  cursor: pointer;
  color: #ffffff;
}
form [type=checkbox]:checked + label:before,
form [type=checkbox]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: transparent;
}
form [type=checkbox]:checked + label:before {
  border: 2px solid #473E69;
}
form [type=checkbox]:not(:checked) + label:before {
  border: 2px solid #473E69;
}
form [type=checkbox]:checked + label:after,
form [type=checkbox]:not(:checked) + label:after {
  content: "";
  height: 22px;
  width: 22px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMS4yNDc2IDAuOTAzODA5TDQuOTAzODcgNy4yNDc1TDEuMDAwMDYgMy4zNDM2OSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0px;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
form [type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}
form [type=checkbox]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}
form .styled-checkbox {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
form .check-text {
  margin-top: 17px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.35s ease-in;
  -o-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
  z-index: 55;
}
.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.35s ease-in;
  -o-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}
.modal-overlay--visible:hover .modal-close span {
  background-color: #7E779A;
}

.modal {
  width: 100%;
  min-width: 240px;
  max-width: 650px;
  min-height: 250px;
  padding: 4.8em 2em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  z-index: 60;
  position: relative;
  background: #ffffff;
  border-radius: 9px;
}
@media (max-width: 992px) {
  .modal {
    width: calc(100% - 60px);
    min-height: inherit;
  }
}
@media (max-width: 576px) {
  .modal {
    width: calc(100% - 30px);
  }
}
.modal h4 {
  font-family: "Pragmatica-400", sans-serif;
  font-size: 32px;
  line-height: 1.15;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
}
@media (max-width: 767px) {
  .modal h4 {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .modal h4 {
    font-size: 25px;
  }
}

.modal--visible {
  display: block;
}
.modal--visible:hover .modal-close span {
  background-color: transparent;
}