
$Roboto-font: "Roboto", sans-serif;
$Roboto-Bold-font: "Roboto-Bold", sans-serif;
$HeliosCond-font: "HeliosCond", sans-serif;

$Pragmatica-300: "Pragmatica-300", sans-serif;
$Pragmatica-400: "Pragmatica-400", sans-serif;
$Pragmatica-500: "Pragmatica-500", sans-serif;

$TTCommons-400: "TT-Commons-400", sans-serif;
$TTCommons-500: "TT-Commons-500", sans-serif;
$TTCommons-600: "TT-Commons-600", sans-serif;
$TTCommons-700: "TT-Commons-700", sans-serif;

// color 
$accent: #7E779A;
$color-white: #ffffff;
$color-dark: #333333;
$color-gray: #777777;
$color-light: #C4C4C4;
$input-label: #807D8D;
$background-light: #F6F4F9;
$color-dark-blue: #040B2A;

$background-gradient: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);

$radius-default: 9px;
$radius-big: 90px;

$border-bottom: 2px solid #EAE8EC;