.posts {
   position: relative;
   padding: 115px 0;
   &__container {
     position: relative;
     text-align: center;
     h2 {
      line-height: 1;
      margin-bottom: 5px;
     }
   }
   .container-slider {
      position: relative;
   }
   p.posts__subtitles {
      font-family: "Pragmatica-400", sans-serif;
      font-size: 18px;
      line-height: 24px;
      color: $color-gray;
      padding-bottom: 40px;
   }
   &__slider {
      width: 100%;
      height: 100%;
      overflow: hidden;
      min-width: 0;  
      position: relative;

   }

   &__item {
      display: flex;
      border-radius: $radius-default;
      background: $background-light;
      overflow: hidden;
      &:hover {
         .posts__image img {
            transform: scale(1.05);
         }
      }
   }
   &__image {
      width: 100%;
      height: 262px;
      overflow: hidden;
      img {
         transition: 0.6s;
         @include image-fit;
      }
      @include breakpoint(mobileonly) {
         height: 235px;
      }
      @include breakpoint(smart) {
         height: 210px;
      }
   }
   &__text {
      display: flex;
      flex-direction: column;
      padding: 27px 25px 21px 30px;
     
      &-block {
         display: flex;
         flex-direction: column;
         min-height: 130px;
         padding-bottom: 23px;
         text-align: left;
      }
   }
   &__title {
      font-family: $TTCommons-600;
      font-size: 22px;
      line-height: 24px;
      color: $color-dark;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 8px;
   }
   &__description {
      font-family: $Pragmatica-300;
      font-size: 16px;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      color: $color-gray;
   }
   &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 16px;
      border-top: $border-bottom;
   }
   &__author {
      max-width: 150px;
   }
   &__date {
      display: flex;
      align-items: center;
      column-gap: 7px;
   }
   span {
     font-family: $TTCommons-500;
     color: $color-light;
     margin-top: auto;

   }

   .swiper-button-next, .swiper-button-prev {
      display: flex;
      width: 49px;
      height: 49px;
      top: calc(50% + 53px);
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      background: $color-white;
      border-radius: $radius-big;
      pointer-events: auto;
      filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
      &:after {
         display: none;
      }
      &.swiper-button-disabled {
         opacity: 1;
         svg {
            line {
               stroke: #D3D0D6;
            }
         }
      }
   }
   .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      right: -10px;
      @include breakpoint(desktop) {
         right: 0;
      }
      @include breakpoint(mobileonly) {
         display: none;
      }
   }
   .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      left: -10px;
      @include breakpoint(desktop) {
         left: 0;
      }
      @include breakpoint(mobileonly) {
         display: none;
      }
   }
   .swiper-pagination {
      display: none;
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      z-index: 10;
      @include breakpoint(mobileonly) {
        display: block;
      }
   }
   .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 4px;
   }
   .swiper-pagination-bullet-active {
      background: $background-gradient;
   }
 }
 

 